@page
@model WebDemo.Pages.ExportDemoModel
@{
    ViewData["Title"] = "ExportDemo";
}

<form method="post" action="~/ExportDemo" enctype="multipart/form-data">
    <p>
        <label>名称： </label>
        <input type="text" asp-for="FileUpload.Name" />
    </p>
    <p>
        <label>选择文件： </label>
        <input type="file" asp-for="FileUpload.SelectedFile" />
    </p>
    <input type="submit" value="提交" />
</form>

