@page
@model WebDemo.Pages.Customer.CreateModel
@{
    //Layout = null;
    ViewData["Title"] = "Create";
}
<style>
    nav,footer {
        display: none;
    }
</style>
<ul class="nav nav-tabs">
    <li class="active">
        <a href="#1b" data-toggle="tab">基本信息</a>
    </li>
</ul>
<div class="tab-content clearfix">
    <div class="tab-pane active" id="1b">
        <br />
        <form id="formAdd" class="form-horizontal" role="form" method="post">
            <div class="form-group">
                <label class="col-sm-2 control-label">名称</label>
                <div class="col-sm-6">
                   
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">性质</label>
                <div class="col-sm-2">
                    
                </div>
                <label class="col-sm-1 control-label">结算类型</label>
                <div class="col-sm-2">
                 
                </div>
                <label class="col-sm-1 control-label">是否结算</label>
                <div class="col-sm-2">
                   
                </div>
            </div>
            @*<div class="form-group">
                    <label class="col-sm-2 control-label">合作资质</label>
                    <div class="col-sm-8">
                    </div>
                </div>*@
            <div class="form-group">
                
                <label class="col-sm-2 control-label">省份</label>
                <div class="col-sm-2">
                    
                </div>
                <label class="col-sm-1 control-label">城市</label>
                <div class="col-sm-2">
                    
                </div>
                <label class="col-sm-1 control-label">县城</label>
                <div class="col-sm-2">
                    
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">地址</label>
                <div class="col-sm-7">
                    
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">备注</label>
                <div class="col-sm-8">
                    
                </div>
            </div>
            <hr />
            <div class="form-group">
                <label class="col-sm-2 control-label">支付类别</label>
                <div class="col-sm-2">
                    
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">账户名</label>
                <div class="col-sm-5">
                    
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">账户</label>
                <div class="col-sm-2">
                    
                </div>
                <label class="col-sm-1 control-label">财务编码</label>
                <div class="col-sm-2">
                   
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">开户行</label>
                <div class="col-sm-8">
                    
                </div>
            </div>
            @*<div class="form-group">
                    <label class="col-sm-2 control-label">账号资质</label>
                    <div class="col-sm-8">
                    </div>
                </div>*@
            <div class="form-group">
                <label class="col-sm-2 control-label">联系人</label>
                <div class="col-sm-2">
                </div>
                <label class="col-sm-1 control-label">联系手机</label>
                <div class="col-sm-2">
                </div>
                <label class="col-sm-1 control-label">经办人</label>
                <div class="col-sm-2">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-1">
                    <button type="submit" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-saved" aria-hidden="true"></span>提交</button>
                </div>
            </div>
        </form>
    </div>
</div>

